#title {
  font-size: 40pt;
  background-color: darkgreen;
  color: yellow;
  font-family: Calibril;
  text-align: center; 
}
#banner {
  text-align: center;
  background-color: tan;
  color: lightblue;
}
body {
  text-align: center;
  background-color: lightgreen;
}
